*{
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    background-color: black;
    color: white;
    height: 7vh;
}
.heading{
    display: flex;
    font-size: 30px;
    margin: auto;
    border-bottom: 1px solid white;
}
.logo{
    padding: 40px 0;
}
.img{
    display: flex;
    margin: auto;
    width: 20%;
    border: 2px solid black;
    border-radius: 200px;
}
.contant{
    background-color: rgb(233, 233, 240);
    display: flex;
    margin: auto;
    max-width: 90%;
    height: 63vh;
    border-radius: 30px;

}
.about{
    font-size: 25px;
    max-width: 90%;
    margin: auto;
    display: flex;
}
.container{
    width: 100%;
    height: 10vh;
}
.log{
    
    text-align: center;
    align-items: center;
}
.log a img{
padding: 10px 20px;
}

.foot{
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 5vh;
}
.paras{
 font-size: 20px;
 padding-top: 7px;
}


