@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}


.logo img {
    width: 40px;
    border: 2px solid black;
    border-radius: 30px;
}

.logo{
    width: 5%;
    padding: 3px 30px;
}

.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.nav-list{
    display: flex;
    width: 70%;
}
.navbar ul li{
    padding: 18px 40px;
    list-style: none;
    display: flex;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
}
.navbar ul li a:hover{
    border-bottom: 1px solid white;
}


.background-bg{
    background: rgba(0, 0, 0, 0.7) url(bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.first-section{
    height: 80vh;
}
.box-main{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    height: 80%;
    margin: auto;
    flex-direction: column-reverse;
    font-size: 30px;
}
.second img{
width: 200px;
transition: all 0.3s ease;
}
.second img:hover{
    border: 3px solid white;
    border-radius: 120px;
}
.text-big{
    padding: 50px;
    font-size: 50px;
}
.contant{
    padding: 30px 80px;
display: flex;
justify-content: space-between;
}
.status{
    display: flex;
    width: 47%;
    height: 30vh;
    border-radius: 50px;
    background-color: rgb(233, 233, 240);
    box-shadow: 1px 2px 10px ;
}
.status:hover{
    border: 1px solid black;
    background: none;
}
.text{
    display: flex;
align-items: center;
margin: auto;
font-size: 25px;
max-width: 90%;
}

.foot{
    color: grey;
    align-items: center;
    justify-content: center;
display: flex;
margin: auto;
height: 10vh;
text-align: center;
}
.no{
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;

}
.num a:hover{
background-color: grey;
color: white;

}
.num{
    display: flex;
    padding: 0 10px;

}
.num a{
    text-decoration: none;
    border: 1px solid black;
padding: 0 10px;
color: black;
transition: all 0.2s ease;
}

.p2{
    padding: 7px 0;
    font-size: 18px;
}

.container{
    width: 100%;
    height: 10vh; 
}
.log{
    
    text-align: center;
    align-items: center;
}
.log a i{
    color: black;
    font-size: 40px;
padding: 10px 20px;
}
.tb:before{
    content:'';
    animation: animate infinite 5s;
}
@keyframes animate{
    0%{
        content:'K A R A N';
    }
    20%{
        content:'WEB DEVELOPER';
    }
    40%{
        content:'PHOTOGRAPHER';
    }
    60%{
        content:'EDITOR';
    }
    80%{
        content:'FREELANCER';
    }
    100%{
        content:'K A R A N';
    }
}
.txt{
    padding-top: 30px;
}
.feel{
    color: gray;
    border-bottom: 1px solid black;
    font-family: 'Ubuntu';
}
.feel:before{
    content:'';
    animation: animate-2 infinite 5s;
}
@keyframes animate-2{
    0%{
      content: 'Shayries ';
    }
    35%{
        content: 'Feelings ';
    }
    
    75%{
        content: 'Emotions ';
    }
    100%{
        content: 'Shayries ';
    }
}

.crack{
    max-width: 90%;
    margin-left: 75px;
   
}

.heading-content{
    font-size: 30px;
    text-align: center;
    
}
.txt{
    margin-bottom: 20px;
}



/* Responsiveness >>>>>>>>>> */

@media(max-width: 1200px){
    .crack{
        margin-left: 40px
    }
}
@media(max-width:800px){
    .navbar ul li {
        padding: 18px 20px;
    }
    .logo{
        padding: 11px 15px;
    }
    .second img {
        width: 160px;
      }
      .box-main{
        font-size: 16px;
        
      }
      .first-section{
        height: 60vh;
    }
    .navbar ul li a{
      font-size: 14px;
    }
    .logo img{
      width: 30px;
    }
    .text-big {
      padding: 40px;
      font-size: 30px;
    }
    .status{
    width: 80%;
      height: 15vh;
      border-radius: 20px;
     margin: 40px 0px;
      margin-left: 70px;
    }
    .text{
      font-size: 15px;
    }
    .contant{
        padding: 0px 10px;
    display: block
    
    }
    .crack{
        margin-left: 20px

    }
   .bottom ,.p2{
    font-size: 14px;
   }
   .foot{
    height: 7vh;
   }
   .heading-content{
    font-size: 20px;
   }
}
@media(max-width: 600px){
    .bottom{
        font-size: 13px;
       }
       .status{
        margin-left: 50px;
        
       }
}
@media(max-width: 450px){
    .status{
        
        margin-left: 40px;
       }
}